*.ncb
*.user
*.exe
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.log
*.suo
*.sdf
*.opensdf
/ipch
/dependencies/include
/dependencies/lib
/libraries/code
/libraries/external
/game/build
/engine/build
/engine/lib
/bin/AS_DEBUG